body {
  background-color: #0B2434;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0; 
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  max-width: 800px; 
  width: 90%; 
  padding: 30px 60px;
  border-radius: 10px;
  margin: 0; 
}

.Dice {
  font-family: "Karla", serif;
  font-weight: 700;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: none;
  box-shadow: 0px 3px 10px 0px grey;
  transition: transform 0.2s ease-in-out;
}

.Dice:hover {
  transform: scale(1.1);
}

.tenzies {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 450px;
  margin-top: 40px;
}

header {
  text-align: center;
  font-family: "Karla", serif;
  margin-top: 0;
}

header>h1 {
  font-weight: 700;
  color: #2B283A;
  margin-bottom: 0;
  font-size: 50px;
}

header>p {
  font-size: 20px;
  color: #4A4E74;
  max-width: 370px;
  font-weight: 400;
  margin-top: 0;
}

.on {
  background-color: #59E391;
}

.roll {
  margin-top: 40px;
  padding: 10px 20px;
  width: 195px;
  color: white;
  background-color: #5035FF;
  font-family: "Karla", serif;
  font-size: 30px;
  font-weight: 700;
  border-radius: 10px;
  margin-bottom: 40px;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}